<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Lab 4 PBP</title>
    </head>
    <body>
        <table class="outer-table">
            <tbody>
                <tr>
                    <td>
                        <h2 class="header-home">Lab 4 PBP - Home</h2>
                        <table class="content-table">
                            <tr>
                              <th>to</th>
                              <th>from</th>
                              <th>title</th>
                              <th>message</th>
                            </tr>

                            <tr>
                              {% if notes %}
                              {% for note in notes %}
                                  <tr>
                                  <td>{{ note.penerima }}</td>
                                  <td>{{ note.pengirim }}</td>
                                  <td>{{ note.judul }}</td>
                                  <td>{{ note.pesan }}</td>
                                  </tr>
                                {% endfor %}
                              {% endif %}
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
