<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Lab 4 PBP</title>
</head>
<body>
    {% if notes %}
    {% for note in notes %}
    <div class="card">
        <div class="card-text">
            <span class="datapesan">Untuk {{ note.penerima }}</span>
            <h2 id="judul"> {{ note.judul }}</h2>
            <p id="pesan">{{note.pesan}}</p>
            <span class="datapesan">Oleh {{ note.pengirim }}</span>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</body>
</html>