<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Lab 4 PBP</title>
  </head>
  <body>
    <table class="outer-table">
      <tbody>
        <tr>
          <td>
            <h2 class="header-home">Post Your Note</h2>
            <form action="" method="POST">
              <table class="form-table">
                <tr>
                  <td>
                    <table>
                      {% csrf_token %}
                      {{form.as_table}}
                    </table>
                    <p><input class='button' type="submit" value="Post" /></p>
                  </td>  
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
