<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>

      <tr>
        {% if notes %}
          {% for note in notes %}
            <tr>
            <td>{{ note.penerima }}</td>
            <td>{{ note.pengirim }}</td>
            <td>{{ note.judul }}</td>
            <td>{{ note.pesan }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tr>

    </table>
  </body>
</html>
