body {
  font-family: Verdana;
  font-size: 16px;
  line-height: 1.6em;
  display: flex;
  align-item: center;
  justify-content: center;
  background-color: #feffe2;
  overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: auto;
    border-radius: 20px 20px 20px 20px;
    background-color: #f5f5d1;
    box-shadow: 5px 5px 5px #bec0a5;
    text-align: center;
    margin: 20px;
}

/* Card Style */
.datapesan {
    font-size: 0.8em;
}

#judul {
    color: #e09d51;
}

/* Form Style */
.form-control {
    background-color: #f5f5d1;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

textarea {
    resize: none;
    font-size: 1em;
}

.form-table {
  border-collapse: collapse;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 5px 5px #bec0a5;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

.form-table td {
    background-color: #f1d5a9;
    padding: 5px;
}


/* Table Style */
.header-home {
  color: #e09d51;
  padding: 20px;
}

.outer-table {
  border-collapse: separate;
  background-color: #f5f5d1;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  margin: auto;
}

.content-table {
  border-collapse: collapse;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 5px 5px #bec0a5;
  overflow: hidden;
  margin: 25px;
  padding: 20px;
  min-width: 250px;
  text-align: left;
}

.content-table th {
  background-color: #f2bb7b;
  padding: 10px;
}

.content-table td {
  border-bottom: 1px solid #f4d19b;
  padding: 10px;
}